<table class="w-3/4 sm:w-full">

  <tr>
    <td align='center' class="w-3/4 py-12 text-gray-600 text-xs bg-white">
      
      <p class="m-0 mb-4 text-gray-800"> <strong>PT. Sun Power Ceramics </strong>, NIP R2A, Ngoro, Mojokerto Regency, East Java, Indonesia</strong></p>  
      <p class="m-0 mb-4 text-gray-800" > sunpowerindonesia@gmail.com &bull; sunpower.id
      </p>
      
      <p class="cursor-default">
        
        <!-- &bull;
          <a
          href="https://www.google.com"
          class="text-blue-500 no-underline hover:underline"
          >Manage Preferences</a
          >
        -->
      </p>
    </td>
  </tr>
  
</table>