<table class="w-3/4 sm:w-full">
  <tr>
     <td class="text-left text-gray-600 text-xs px-48 sm:px-24 py-24 bg-black md:w-1/2 sm:w-full" >
      <!-- <p class="m-0 mb-4">Powered by <strong> SUN POWER CERAMICS </strong></p> -->

      <p class="m-0 mb-4 text-gray-300 font-bold text-lg">John Doe</p>
      <p class="m-0 mb-4 text-gray-300 font-semibold text-sm">
        E-Commerce Manager
      </p>
      <p class="mt-0 text-xs">T: (+62)868123124, T: (+62)868123124</p>

      <!--
                
                <p class="m-0 mb-4 text-gray-300"> <strong>PT. Sun Power Ceramics </strong>, NIP R2A, Ngoro, Mojokerto Regency, East Java, Indonesia,</strong></p>
                
                <p class="m-0 mb-4 text-gray-200" > sunpowerindonesia@gmail.com &bull; (+62) 8881223  
                </p>
            -->

      <p class="cursor-default">
        <!-- &bull;
                    <a
                    href="https://www.google.com"
                    class="text-blue-500 no-underline hover:underline"
                    >Manage Preferences</a
                    >
                -->
      </p>
    </td>
    <td class="sm:hidden w-1/2 bg-black sm:w-full">
      <img src='https://ik.imagekit.io/sunpowerindonesia/equinox_vXNOWT1oK.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1643009547662'></img>
    </td>
  </tr>
</table>
